basePath: /v1
definitions:
  main.Envelope:
    properties:
      data: {}
      error: {}
    type: object
  main.LoginResponse:
    properties:
      token:
        type: string
    type: object
  repository.UserModel:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      is_active:
        type: boolean
      username:
        type: string
    type: object
  service.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  service.RegisterRequest:
    properties:
      email:
        maxLength: 32
        minLength: 6
        type: string
      password:
        maxLength: 18
        type: string
      username:
        maxLength: 16
        minLength: 3
        type: string
    required:
    - email
    - password
    - username
    type: object
  service.RegisterResponse:
    properties:
      token:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Rest API Documentation.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Falcon Rest API Generator
  version: "1.0"
paths:
  /authentication/activation/{token}:
    post:
      consumes:
      - application/json
      description: Activate  New Account
      parameters:
      - description: Token Inivitation to Activate Account
        in: path
        name: token
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: string
                error:
                  type: object
              type: object
        "400":
          description: Bad Request
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "404":
          description: Not Found
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
      summary: Activate Account
      tags:
      - Auth
  /authentication/sign-in:
    post:
      consumes:
      - application/json
      description: Sign in  New Account
      parameters:
      - description: Token to Sign in Account
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/service.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  $ref: '#/definitions/main.LoginResponse'
                error:
                  type: object
              type: object
        "400":
          description: Bad Request
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "404":
          description: Not Found
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
      summary: Sign in Account
      tags:
      - Auth
  /authentication/sign-up:
    post:
      consumes:
      - application/json
      description: Sign Up New Account
      parameters:
      - description: Payload to Sign Up
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/service.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  $ref: '#/definitions/service.RegisterResponse'
                error:
                  type: object
              type: object
        "400":
          description: Bad Request
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "409":
          description: Conflict
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
      summary: Sign Up Account
      tags:
      - Auth
  /users/delete:
    delete:
      consumes:
      - application/json
      description: Delete User Account
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "401":
          description: Unauthorized
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
      security:
      - JWT: []
      summary: Delete User Account
      tags:
      - Users
  /users/profile:
    get:
      consumes:
      - application/json
      description: Get User Profile Who's log in
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  $ref: '#/definitions/repository.UserModel'
                error:
                  type: object
              type: object
        "400":
          description: Bad Request
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "401":
          description: Unauthorized
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/main.Envelope'
            - properties:
                data:
                  type: object
                error:
                  type: string
              type: object
      security:
      - JWT: []
      summary: Get User Profile
      tags:
      - Users
schemes:
- http
- https
securityDefinitions:
  JWT:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
